@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // == 15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // == 14px
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-dark: #434343;
  --gray-light: #DDDDDD;
  --blue-do: #2196f3;
  --red-like: #ec2315;
  --pink-comment: #ff3e7a;
  --font-1: "Baloo Bhai 2", sans-serif;
  --font-2: 'Varela', sans-serif;
  --font-number: 'Bebas Neue', sans-serif;
  --h1-size: 2rem;
  --h2-size: 1.5rem;
}

body {
  background: var(--gray-light);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px darkgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--blue-do);
  border-radius: 10px;
  &:hover {
    border: inset 1px white;
  }
}

::-webkit-scrollbar:horizontal {
  display: none;
}