.profileMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    width: 99vw;
    min-height: 45vh;
    margin: 1rem auto;
    overflow: hidden;
    //border: var(--gray-dark) solid 1px;
    
    //border: blue solid 2px;

    
}
.profileMainImageAndName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 2rem;
    //border: steelblue solid 1px;
    
    
    
    img {
        background-color: gray;
        border-radius: 50%;
        border: var(--gray-dark) solid 4px;
        width: 14em;
        height: 14em;
        object-fit: cover;
        filter: grayscale(100%) blur(1px);
        transition: border-color 1s, filter 1s, box-shadow 1s;

        &:hover{
            border-color: var(--blue-do);
            animation-name: shine;
            animation-duration: 1s;
            animation-iteration-count: 1;
            filter: grayscale(0) blur(0);
            box-shadow: 5px 5px 5px gray;
            cursor: none;
        }

        @keyframes shine {
            0% {filter: brightness(100%);}
            20% {filter: brightness(180%);}
            100% {filter: brightness(100%);}
        }
    }

    span {
        color: var(--gray-dark);
        font-family: var(--font-1);
        font-size: 2rem;
        font-weight: bold;
    }
}

.profileMainTotalData {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    
    //border: teal solid 2px;
    min-width: 20em;    

    h1 {
        cursor: default;
        color: var(--gray-dark);
        font: 5rem var(--font-number);
    }

    & > div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
        margin-right: 2rem;

        #numberLikesContainer:hover {
            animation-name: redPulse;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
        }
        
        #iconLikesContainer {
            animation-name: beatHeart;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
        }

        @keyframes beatHeart {
            0% {width: 2em;}
            20% {width: 2.5em;}
            100% {width: 2em;}
        }

        @keyframes redPulse {
            0% {color: var(--gray-dark); font-size: 5rem;}
            20% {color: red;}
            100% {color: var(--gray-dark); font-size: 5rem;}
        }
        img {
            width: 2em;

            
        }        
    }
}

@media (max-width: 500px) {

    .profileMainImageAndName {
        img {
            width: 12em;
            height: 12em;
        }
    }
}
@media (max-width: 470px) {
    .profileMain {
        flex-direction: column;
    }
    .profileMainImageAndName {
        img {
            width: 10em;
            height: 10em;
        }
    }
    .profileMainTotalData {
        h1 {
            font-size: 3rem;
        }
    }
}